body{
color:red;

background:  black;


}
header{
      border-bottom:solid 2px rgb(rgb(191, 96, 214));
      padding: 29px;
      font-size: 32px;
      color: darkorchid;
      background:rgb(110, 80, 129)
}  
.chamada{
    background:darkslateblue 
    padding bottom: 100px;
    padding: top 100px;
    display: flex;
    justify-content:center;
}   
.chamada-texto{
    margin-right:5%;



}

